@{ 
    IList<pratica2.Models.usuario> u = pratica2.DAO.usuarioDAO.Lista();

    u = u.OrderByDescending(usu => usu.Pontos).ToList();
}

<div id="containerCardRank">

    <p id="tituloCard">Jogos</p>

    <div class="card">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/overIcon.jpg">
        </div>

        <div class="card-content">
            <span class="card-title activator">Overwatch<i class="material-icons right">more_vert</i></span>

            <p>
                <a href="~/Jogar/Index">Fazer quiz</a>
                <a href="~/Jogar/Index" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
            <p>Mais um jogo da gigante Blizzard. Este fps 6x6 ganhador do GOTY é baseado em personagens com aparências e habilidades únicas, qual o seu favorito?</p>
        </div>

    </div>

    <div class="card">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="~/imagens/r6Icon.jpg">
        </div>

        <div class="card-content">
            <span class="card-title activator">Rainbow six<i class="material-icons right">more_vert</i></span>
            <p>
                <a href="~/Jogar/Index">Fazer quiz</a>
                <a href="~/Jogar/Index" class="btn-floating waves-effect waves-light blue light blue btn-small pulse">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
            <p>Este fps é mais um jogo da Ubisoft. O fps mais tático já feito na história é baseado em personbagens de diferentes polícias de diferentes países. Escolha o seu e vá para a batalha.</p>
        </div>

    </div>

</div>

<div id="containerRank">

    <p id="tituloInfo">Rankings</p>
    <p id="subTituloRank">Pontuação nos dois jogos</p>

    @{
        pratica2.Models.usuario[] vetorUsu = new pratica2.Models.usuario[10];

        int i = 0;
        int qtsDados = 0;

        foreach (pratica2.Models.usuario usu in u)
        {
            vetorUsu[i] = usu;
            qtsDados++;

            i++;

            if (i > 9)
            {
                break;
            }
        }

        if (qtsDados != 10)
        {
            for (int a = 0; a < vetorUsu.Length; a++)
            {
                if (vetorUsu[a] == null)
                {
                    pratica2.Models.usuario usu = new pratica2.Models.usuario();

                    usu.Nome = "Sem jogador";
                    usu.Pontos = 0;

                    vetorUsu[a] = usu;
                }
            }
        }

        pratica2.Models.usuario usua = (pratica2.Models.usuario)Session["usuarioLogado"];
        if(usua == null)
        {
            usua = new pratica2.Models.usuario();
            usua.Nome = "";
            usua.Pontos = 0;
        }
    }

    <table>
        <tr>
            <td>Posição</td>
            <td>Jogador</td>
            <td>Pontos</td>
        </tr>

    @{
        for (int b = 0; b <= 9; b++)
        {
            if (vetorUsu[b].Nome == usua.Nome)
            {
                <tr>
                    <td><b>@(b + 1)</b></td>
                    <td><b>@vetorUsu[b].Nome</b></td>
                    <td><b>@vetorUsu[b].Pontos</b></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@(b + 1)</td>
                    <td>@vetorUsu[b].Nome</td>
                    <td>@vetorUsu[b].Pontos</td>
                </tr>
            }
        }
    }

    </table>
    </div>