@{
    if (Session["usuarioLogado"] != null)
    {
        Random pontos = new Random();

        int pontosA = pontos.Next(10);

        <div id="containerCardJogar">

            <p id="tituloCard">Jogos</p>

            <div class="card">

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/imagens/overIcon.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator">Overwatch<i class="material-icons right">more_vert</i></span>

                    <p>
                        <a class="modal-trigger" href="#testeOver">Fazer quiz</a>
                        <a class="btn-floating waves-effect waves-light blue light blue btn-small pulse modal-trigger" href="#testeOver"><i class="material-icons">keyboard_arrow_right</i></a>
                    </p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                    <p>Mais um jogo da gigante Blizzard. Este fps 6x6 ganhador do GOTY é baseado em personagens com aparências e habilidades únicas, qual o seu favorito?</p>
                </div>

            </div>

            <div class="card">

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/imagens/r6Icon.jpg">
                </div>

                <div class="card-content">
                    <span class="card-title activator">Rainbow six<i class="material-icons right">more_vert</i></span>
                    <p>
                        <a class="modal-trigger" href="#testeR6">Fazer quiz</a>
                        <a class="btn-floating waves-effect waves-light blue light blue btn-small pulse modal-trigger" href="#testeR6"><i class="material-icons">keyboard_arrow_right</i></a>
                    </p>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Sobre o jogo:<i class="material-icons right">close</i></span>
                    <p>Este fps é mais um jogo da Ubisoft. O fps mais tático já feito na história é baseado em personbagens de diferentes polícias de diferentes países. Escolha o seu e vá para a batalha.</p>
                </div>

            </div>

        </div>

        <div id="containerJogar">

            <p id="tituloInfo">QUIZ</p>
            <p id="subTituloJogar">Selecione um dos jogos ao lado</p>

            <form method="post">

                <div id="testeOver" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Perguntas Overwatch</h4>

                        @{
                            IList<pratica2.Models.pergunta> p = pratica2.DAO.perguntaDAO.ListaJogo("Overwatch");

                            IList<pratica2.Models.resposta> r = pratica2.DAO.respostaDAO.Lista();

                            pratica2.Models.pergunta[] pergUsu = new pratica2.Models.pergunta[50];

                            int[] sorteados = new int[10];

                            string[] corretas = new string[10];

                            pratica2.Models.resposta[] resps = new pratica2.Models.resposta[10];

                            int i = 0;

                            foreach (pratica2.Models.pergunta perg in p)
                            {
                                pergUsu[i] = perg;

                                i++;

                                if (i > 49)
                                {
                                    break;
                                }
                            }

                            Random sorteio = new Random();

                            int qts = 0;

                            while (qts < 10)
                            {
                                int sorteado = sorteio.Next(50);

                                if (!sorteados.Contains(sorteado))
                                {
                                    sorteados[qts] = sorteado;

                                    pratica2.Models.pergunta perg = pergUsu[sorteado];

                                    pratica2.Models.resposta resp = new pratica2.Models.resposta();

                                    resp = pratica2.DAO.respostaDAO.returnReposta(perg.Id);

                                    resps[qts] = resp;

                                    corretas[qts] = resp.Correta;

                                    <p>@(qts + 1)  - @perg.Texto</p>

                                    <input type="radio" id="A_@qts" name="@qts  reposta" value="A"> @resp.OpcaoA<br>
                                    <input type="radio" id="B_@qts" name="@qts  reposta" value="B"> @resp.OpcaoB<br>
                                    <input type="radio" id="C_@qts" name="@qts  reposta" value="C"> @resp.OpcaoC<br>
                                    <input type="radio" id="D_@qts" name="@qts  reposta" value="D"> @resp.OpcaoD<br>

                                    qts++;
                                }
                            }
                        }

                    </div>
                    <div class="modal-footer">
                        <div id="perguntaBtn">
                            <button class="waves-effect waves-light btn modal-close" onclick="somar()" id="btnFimLogin">Responder</button>
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" action="/Jogar/Pontuar?pontos=@pontosA">

                <div id="testeR6" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Perguntas Rainbow Six</h4>

                        @*@{
                                IList<pratica2.Models.pergunta> pB = pratica2.DAO.perguntaDAO.ListaJogo("Rainbow six");

                                IList<pratica2.Models.resposta> rB = pratica2.DAO.respostaDAO.Lista();

                                pratica2.Models.pergunta[] pergUsuB = new pratica2.Models.pergunta[50];

                                int[] sorteadosB = new int[10];

                                string[] corretasB = new string[10];

                                pratica2.Models.resposta[] respsB = new pratica2.Models.resposta[10];

                                int iB = 0;

                                foreach (pratica2.Models.pergunta perg in p)
                                {
                                    pergUsuB[iB] = perg;

                                    iB++;

                                    if (iB > 49)
                                    {
                                        break;
                                    }
                                }

                                Random sorteioB = new Random();

                                int qtsB = 0;

                                while (qtsB < 10)
                                {
                                    int sorteadoB = sorteio.Next(24);

                                    if (!sorteadosB.Contains(sorteadoB))
                                    {
                                        sorteadosB[qtsB] = sorteadoB;

                                        pratica2.Models.pergunta pergB = pergUsu[sorteadoB];

                                        pratica2.Models.resposta respB = new pratica2.Models.resposta();

                                        respB = pratica2.DAO.respostaDAO.returnReposta(pergB.Id);

                                        respsB[qtsB] = respB;

                                        corretasB[qtsB] = respB.Correta;

                                        <p>@(qtsB + 1)  - @pergB.Texto</p>

                                        <input type="radio" id="A_@qtsB" name="@qtsB  reposta" value="A"> @respB.OpcaoA<br>
                                        <input type="radio" id="B_@qtsB" name="@qtsB  reposta" value="B"> @respB.OpcaoB<br>
                                        <input type="radio" id="C_@qtsB" name="@qtsB  reposta" value="C"> @respB.OpcaoC<br>
                                        <input type="radio" id="D_@qtsB" name="@qtsB  reposta" value="D"> @respB.OpcaoD<br>

                                        qts++;
                                    }
                                }
                            }*@

                    </div>
                    <div class="modal-footer">
                        <div id="perguntaBtn">
                            <button class="waves-effect waves-light btn modal-close" onclick="somar2()" id="btnFimLogin">Responder</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
            $('.modal').modal();
            });


            var soma = 0;

            @{int indice = 0;}

            function somar()
            {
                alert('funcao');

                for (var a = 0; a < 10; a++)
                {
                    alert('for1');

                    if (document.getElementById("A_" + a).checked == true)
                    {
                        alert('A');

                        if (@corretas[indice].ToString() == "A") {
                            alert('acertou');
                            soma++;
                        }
                    }
                }

                for (var i = 0; i < 10; i++)
                {
                    alert('for2');

                    if (document.getElementById("B_" + i).checked == true)
                    {
                        alert('B');

                        if (@corretas[indice].ToString() == "B")
                        {
                            alert('acertou');
                            soma++;
                        }
                    }
                }

                for (var b = 0; b < 10; b++)
                {
                    alert('for3');

                    if (document.getElementById("C_" + b).checked == true)
                    {
                        alert('C');

                        if (@corretas[indice].ToString() == "C")
                        {
                            alert('acertou');
                            soma++;
                        }
                    }
                }

                for (var c = 0; c < 10; c++)
                {
                    alert('for4');

                    if (document.getElementById("D_" + c).checked == true)
                    {
                        alert('D');

                        if (@corretas[indice].ToString() == "D")
                        {
                            alert('acertou');
                            soma++;
                        }
                    }
                }

                $.post("/Jogar/Pontuar", { soma }, null);
            }

            @*function somar2()
            {
                for (var b = 0; b < 10; b++)
                {
                    respostas[b] = @corretasB[indice];
                    @{indice++;}
                }

                for (var a = 0; a < 10; a++)
                {
                    if (document.getElementById("A_" + a).checked == true)
                    {
                        if (respostas[a] == "A")
                        {
                            soma++;
                        }
                    }

                    if (document.getElementById("B_" + a).checked == true)
                    {
                        if (respostas[a] == "B")
                        {
                            soma++;
                        }
                    }

                    if (document.getElementById("C_" + a).checked == true)
                    {
                        if (respostas[a] == "C")
                        {
                            soma++;
                        }
                    }

                    if (document.getElementById("D_" + a).checked == true)
                    {
                        if (respostas[a] == "D")
                        {
                            soma++;
                        }
                    }
                }

                $.post("/Jogar/Pontuar", { soma }, null);
            }*@
        </script>
    }
    else
    {
        <center>
            <p id="tituloLogECadastro">Faça login antes de jogar.</p>
            <p id="tituloLogECadastro"> Clique <a href="~/Login/Index">aqui</a> para logar.</p>
        </center>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }
}